In [ ]:
!pip install tensorflow-gpu

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow-gpu in /usr/local/lib/python3.7/dist-packages (2.10.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.49.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.3.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.21.6)
Requirement already satisfied: keras<2.11,>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (2.10.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.27.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (21.3)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.6.3)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.2.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.1.2)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (14.0.6)
Requirement already satisfied: tensorflow-estimator<2.11,>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (2.10.0)
Requirement already satisfied: tensorboard<2.11,>=2.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (2.10.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.17.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (4.1.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.15.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.14.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (2.0.1)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (22.9.24)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (57.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.2.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow-gpu) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow-gpu) (1.5.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow-gpu) (2.23.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow-gpu) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow-gpu) (1.35.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow-gpu) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow-gpu) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow-gpu) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow-gpu) (3.4.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow-gpu) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow-gpu) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow-gpu) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow-gpu) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow-gpu) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow-gpu) (3.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow-gpu) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow-gpu) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow-gpu) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow-gpu) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow-gpu) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow-gpu) (3.2.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow-gpu) (3.0.9)

In [ ]:
import tensorflow as tf
from tensorflow import keras
print(tf.__version__)

2.10.0

In [ ]:
#import some basic library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df=df.drop(["RowNumber","CustomerId","Surname"],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.shape

(10000, 11)

In [ ]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
#feature engineering
Geography=pd.get_dummies(df["Geography"])  
Gender=pd.get_dummies(df["Gender"])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df=df.drop(["Geography","Gender"],axis=1)

In [ ]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,42,2,0.00,1,1,1,101348.88,1
1,608,41,1,83807.86,1,0,1,112542.58,0
2,502,42,8,159660.80,3,1,0,113931.57,1
3,699,39,1,0.00,2,0,0,93826.63,0
4,850,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df=pd.concat([df,Geography,Gender],axis=1)

In [ ]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Age              10000 non-null  int64
 2   Tenure           10000 non-null  int64
 3   Balance          10000 non-null  float64
 4   NumOfProducts    10000 non-null  int64
 5   HasCrCard        10000 non-null  int64
 6   IsActiveMember   10000 non-null  int64
 7   EstimatedSalary  10000 non-null  float64
 8   Exited           10000 non-null  int64
 9   France           10000 non-null  uint8
 10  Germany          10000 non-null  uint8
 11  Spain            10000 non-null  uint8
 12  Female           10000 non-null  uint8
 13  Male             10000 non-null  uint8
dtypes: float64(2), int64(7), uint8(5)
memory usage: 752.1 KB

In [ ]:
x=df.drop("Exited",axis=1)
y=df["Exited"]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

In [ ]:
x_train

array([[-0.06042858, -0.18527928,  1.02868011, ..., -0.57273139,
         1.08628092, -1.08628092],
       [-1.74363086,  0.00532326,  0.33476465, ..., -0.57273139,
         1.08628092, -1.08628092],
       [ 0.31132161, -0.18527928,  1.72259557, ..., -0.57273139,
         1.08628092, -1.08628092],
       ...,
       [ 0.22871046,  0.57713088,  1.37563784, ..., -0.57273139,
         1.08628092, -1.08628092],
       [ 0.13577291,  0.00532326,  1.02868011, ..., -0.57273139,
         1.08628092, -1.08628092],
       [ 1.16841234,  0.29122707,  0.33476465, ..., -0.57273139,
        -0.92057219,  0.92057219]])

In [ ]:
x.shape

(10000, 13)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU,ReLU
from tensorflow.keras.layers import Dropout

In [ ]:
#lets initilize the ANN
classifier=Sequential()

In [ ]:
#adding the input layer
classifier.add(Dense(units=13,activation="relu"))

In [ ]:
#adding first hidden layer
classifier.add(Dense(units=7,activation="relu"))

In [ ]:
#adding second hidden layer
classifier.add(Dense(units=7,activation="relu"))

In [ ]:
classifier.add(Dense(1,activation="sigmoid"))

In [ ]:
classifier.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])

In [ ]:
#x_train = np.asarray(x_train)
#y_train = np.asarray(y_train)
#x_test = np.asarray(x_test)
#y_test = np.asarray(y_test)

In [ ]:
#early_stopping
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=10,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
)

In [ ]:
model_history=classifier.fit(x_train,y_train,validation_split=0.33,batch_size=10,epochs=1000,callbacks= [early_stopping])

Epoch 1/1000
469/469 [==============================] - 3s 5ms/step - loss: 0.4835 - accuracy: 0.7985 - val_loss: 0.4494 - val_accuracy: 0.7988
Epoch 2/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.4389 - accuracy: 0.8015 - val_loss: 0.4346 - val_accuracy: 0.8109
Epoch 3/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.4262 - accuracy: 0.8138 - val_loss: 0.4234 - val_accuracy: 0.8122
Epoch 4/1000
469/469 [==============================] - 4s 8ms/step - loss: 0.4152 - accuracy: 0.8224 - val_loss: 0.4097 - val_accuracy: 0.8170
Epoch 5/1000
469/469 [==============================] - 6s 12ms/step - loss: 0.4052 - accuracy: 0.8260 - val_loss: 0.3980 - val_accuracy: 0.8256
Epoch 6/1000
469/469 [==============================] - 3s 7ms/step - loss: 0.3950 - accuracy: 0.8309 - val_loss: 0.3924 - val_accuracy: 0.8243
Epoch 7/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3874 - accuracy: 0.8337 - val_loss: 0.3799 - val_accuracy: 0.8286
Epoch 8/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3799 - accuracy: 0.8364 - val_loss: 0.3728 - val_accuracy: 0.8317
Epoch 9/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3729 - accuracy: 0.8403 - val_loss: 0.3675 - val_accuracy: 0.8364
Epoch 10/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3677 - accuracy: 0.8456 - val_loss: 0.3632 - val_accuracy: 0.8486
Epoch 11/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3611 - accuracy: 0.8494 - val_loss: 0.3563 - val_accuracy: 0.8511
Epoch 12/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3549 - accuracy: 0.8556 - val_loss: 0.3506 - val_accuracy: 0.8542
Epoch 13/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3503 - accuracy: 0.8614 - val_loss: 0.3451 - val_accuracy: 0.8507
Epoch 14/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3476 - accuracy: 0.8582 - val_loss: 0.3461 - val_accuracy: 0.8490
Epoch 15/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3447 - accuracy: 0.8616 - val_loss: 0.3461 - val_accuracy: 0.8486
Epoch 16/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3428 - accuracy: 0.8624 - val_loss: 0.3431 - val_accuracy: 0.8511
Epoch 17/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3407 - accuracy: 0.8616 - val_loss: 0.3447 - val_accuracy: 0.8511
Epoch 18/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3390 - accuracy: 0.8603 - val_loss: 0.3438 - val_accuracy: 0.8511
Epoch 19/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3386 - accuracy: 0.8624 - val_loss: 0.3436 - val_accuracy: 0.8503
Epoch 20/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3368 - accuracy: 0.8622 - val_loss: 0.3419 - val_accuracy: 0.8524
Epoch 21/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3355 - accuracy: 0.8627 - val_loss: 0.3435 - val_accuracy: 0.8503
Epoch 22/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3359 - accuracy: 0.8639 - val_loss: 0.3439 - val_accuracy: 0.8516
Epoch 23/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3353 - accuracy: 0.8650 - val_loss: 0.3392 - val_accuracy: 0.8507
Epoch 24/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3331 - accuracy: 0.8654 - val_loss: 0.3420 - val_accuracy: 0.8520
Epoch 25/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3328 - accuracy: 0.8661 - val_loss: 0.3444 - val_accuracy: 0.8511
Epoch 26/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3321 - accuracy: 0.8644 - val_loss: 0.3453 - val_accuracy: 0.8524
Epoch 27/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3318 - accuracy: 0.8629 - val_loss: 0.3409 - val_accuracy: 0.8537
Epoch 28/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3322 - accuracy: 0.8656 - val_loss: 0.3425 - val_accuracy: 0.8511
Epoch 29/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3303 - accuracy: 0.8627 - val_loss: 0.3408 - val_accuracy: 0.8563
Epoch 30/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3295 - accuracy: 0.8661 - val_loss: 0.3412 - val_accuracy: 0.8494
Epoch 31/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3305 - accuracy: 0.8663 - val_loss: 0.3388 - val_accuracy: 0.8572
Epoch 32/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3292 - accuracy: 0.8659 - val_loss: 0.3372 - val_accuracy: 0.8546
Epoch 33/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3291 - accuracy: 0.8639 - val_loss: 0.3375 - val_accuracy: 0.8533
Epoch 34/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3283 - accuracy: 0.8652 - val_loss: 0.3410 - val_accuracy: 0.8542
Epoch 35/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3285 - accuracy: 0.8648 - val_loss: 0.3397 - val_accuracy: 0.8516
Epoch 36/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3283 - accuracy: 0.8665 - val_loss: 0.3379 - val_accuracy: 0.8555
Epoch 37/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3277 - accuracy: 0.8648 - val_loss: 0.3400 - val_accuracy: 0.8498
Epoch 38/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3278 - accuracy: 0.8654 - val_loss: 0.3454 - val_accuracy: 0.8550
Epoch 39/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3277 - accuracy: 0.8676 - val_loss: 0.3408 - val_accuracy: 0.8542
Epoch 40/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3268 - accuracy: 0.8659 - val_loss: 0.3379 - val_accuracy: 0.8576
Epoch 41/1000
469/469 [==============================] - 2s 5ms/step - loss: 0.3263 - accuracy: 0.8663 - val_loss: 0.3397 - val_accuracy: 0.8563
Epoch 42/1000
469/469 [==============================] - 2s 4ms/step - loss: 0.3268 - accuracy: 0.8654 - val_loss: 0.3396 - val_accuracy: 0.8511
Epoch 42: early stopping

In [ ]:
model_history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [ ]:
#making the prediction and evaluate the model
y_pred = classifier.predict(x_test)
y_pred = (y_pred >= 0.5)

94/94 [==============================] - 0s 1ms/step

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
cm

array([[2302,   71],
       [ 358,  269]])

In [ ]:
score = accuracy_score(y_test,y_pred)
score

0.857